body {
  font-family: cursive;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 10px;
}

.grid span {
    display: block;
    padding: 8px;
}